
.space {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.container {
  flex: 0 0 calc(33.33% - 20px); 
  margin-bottom: 20px; 
  display: flex;
  gap: 20px; 
}

.box {
  width: 400px;
  height: 438.81px;
  padding: 40px;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  color: aliceblue;
}