body, html {
    height: 100%;
    margin: 0;
  }
  
  .upcoming-trips {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take up the entire viewport height */
    background-color: aquamarine;
  }
  
  .trip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .btn-card {
    border: none;
    background-color: #fff;
    padding: 20px;
    width: 300px; /* Adjust the width */
    transition: background-color 0.3s;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .btn-card:hover {
    background-color: #f0f0f0;
  }
  
  .card-hover-image {
    display: none; /* Hide hover image initially */
    width: 100%;
    height: 100px; /* Adjust the height */
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .trip-card:hover .card-hover-image {
    display: block;
    opacity: 1;
  }
  
  
  
  .flight {
    background-image: url('/Users/ujjwalsinha/Downloads/plane-icon-flight-transport-sign-vector-10490941.jpg');
  }
  
  .train {
    background-image: url('/Users/ujjwalsinha/Downloads/train-icon-512x495-3rpy4qg4.png');
  }
  
  .bus {
    background-image: url('/Users/ujjwalsinha/Downloads/subway-5590781-4652475.webp');
  }
  